body {
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	overflow: hidden;
	scroll: no;,
	user-select:none;
}
canvas {
	display: block;
	margin: 0 auto;
	overflow: hidden;
}